# Coq
*.vo
*.glob
*.v.d

# OCaml
*.a
*.o
*.cma
*.cmi
*.cmo
*.cmt
*.cmti
*.cmx
*.cmxa
*.cmxs
*.ml.d
*.mli.d
*.mllib.d
*.ml4.d

# Erlang
*.erl
*.beam

# Others
*.bak
Makefile
html
actor
coq-8.4pl5
patches
